<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}Robotour 2018{% endblock %}</title>
    
    <script>
    function startTime() {
        var today = new Date();
        var h = today.getHours();
        var m = today.getMinutes();
        var s = today.getSeconds();
        m = checkTime(m);
        s = checkTime(s);
        document.getElementById('txt').innerHTML =
        h + ":" + m + ":" + s;
        var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
        if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
        return i;
    }
    </script>
    {% if refresh %}
        <meta http-equiv="refresh" content="{{refresh}}" >
    {% endif %}
    {% endblock %}
</head>

<body onload="startTime()">

{% block header %}
  {% if current_user %}
    <div align="right">
        {{ "Logged in as %s (%s)" % (current_user.username, current_user.role)}}
        <a href="{{ url_for('logout') }}">log out</a>
    </div>
  {% endif %}


    <h1> Robotour 2018 </h1>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}

<div id="txt"></div>
<div id="content">{% block content %}{% endblock %}</div>
    {% block footer %}
    {% endblock %}
</body>
</html>

