{% extends "basic.html" %}
{% block title %} Program {% endblock %}
{% block head %}
{{super()}}
{% endblock %}
{% block content %}

{{ header }}
{{additional}}
<table>
  <tr>
    <th> Round </th>
    <th> Start </th>
    <th> End </th>
  </tr>
{% for e in events %}
  <tr>
    <td>{{ e.name }}</td>
    <td>{{ e.start.strftime("%H:%M" if now.date() == e.start.date() else "%d.%m.%Y %H:%M") }}</td>
    <td>{{ e.end.strftime("%H:%M" if now.date() == e.end.date() else "%d.%m.%Y %H:%M") }}</td>
  </tr>
{% endfor %}
</table>
  <br>
  <img src="{{ qrcode("http://live.robotour.cz/")}}">
{% endblock %}
